.navigation-container{
  display: flex;
  flex-direciton: row;
  align-items: center;
  justify-content: space-around;
  
}

a {
  text-decoration: none;
  color: black;
}

a:visited{
  color: black;
}

button {

}

.navbar{
  display: flex;
  align-items: center;
  
}

.link{
  margin-left: 1rem;
}
