
.navigation-container{
  display: flex;
  flex-direciton: row;
  align-items: center;
  justify-content: space-around;
  background-color: #E5E4E2	;
  position: sticky;
  top: 0; 
  z-index: 1000;
}

a {
  text-decoration: none;
  color: black;
}

a:visited{
  color: black;
}

button {

}

.navbar{
  display: flex;
  align-items: center;
  
}

.link{
  margin-left: 1rem;
}
