.search-container{
  margin-top: 1rem;
  margin-left: .5rem;
  width: 65vw;
  margin: auto;
}

.search-text{
  margin-bottom: .5rem;
  font-size: 3rem;
}

.search-box{
  height: 30px;
  border: 1px solid lightgray;
  border-radius: 4px;
  margin-right: .5rem;
  font-size: 1rem;
  margin-left: .1rem;
  text-indent: 3px;
}

select{
  height: 34px;
  width: 60px;
  border: 1px solid lightgray;
  border-radius: 4px;
}

.search-btn{
  height: 33px;
  padding: 8px 12px;
}

.search-box-container{
  display:flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 50vw;
}