
.deck-container{
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  padding-bottom: .5rem;
  margin-bottom: 1.5rem;
}

.delete-btn, .rename-btn, .refresh-btn{
  padding: 4px 6px;
  font-size: 12px;
  margin-left: 1rem;
}

.refresh-btn{
  color: black;
  background-color: white;
  padding: 2px 2px;
  display: flex;
  align-content: center;
  font-size: 1rem;
}

.refresh-btn:hover{
   animation: rotate .4s linear;
   background-color: white;
}

.button-container{
  display: flex;
  align-content: center;
  align-items: center;
}



@keyframes rotate {
  from {
    transform: rotate(0deg); 
  }
  to {
    transform: rotate(360deg); 
  }
}

.rename-btn{
  background: #0818A8;
}

.delete-btn{
  background: #FF5733;
}

.edit-input{
  border-radius: 5px;
  outline: none;
  border: 1px solid lightgray;
  font-size: 1.2rem
}

.save-btn, .cancel-btn{
  height: 25px;
  padding: 4px 6px;
  width: 60px;
}

.save-btn{
  margin-right: 1rem;
}

.modal {
  background-color: white;
  padding-top: 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 25px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}

.modal-content {
  background-color: rgba(255, 255, 255, 0.4); 
}

.btn-container {
  display: flex;
  justify-content: space-around;
}

.modal h3 {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

