
.deck-container{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  padding-top: .75rem;
  padding-bottom: .75rem;
}

.delete-btn, .rename-btn, .refresh-btn{
  padding: 4px 6px;
  font-size: 12px;
  margin-left: 1rem;
}

.refresh-btn{
  color: black;
  background-color: white;
  padding: 2px 2px;
  display: flex;
  align-content: center;
  font-size: 1rem;
  margin-right: .5rem;
  margin-left: 0.2rem;
}

.refresh-btn:hover{
   animation: rotate .4s linear;
   background-color: white;
}

.button-container{
  display: flex;
  align-content: center;
  align-items: center;
}

.refresh-msg{
  color: green;
  margin-left: 1rem;
}


@keyframes rotate {
  from {
    transform: rotate(0deg); 
  }
  to {
    transform: rotate(360deg); 
  }
}

.rename-btn{
  background: #0818A8;
}

.delete-btn{
  background: white;
  padding: 0;
  margin-right: .5rem;
}

.delete-btn:hover {
  transform: rotate(45deg);
  transition: all .2s linear;
}

.edit-input{
  border-radius: 5px;
  border: 1px solid lightgray;
  font-size: 1.2rem;
  margin-bottom: 0rem;
  outline: none;
  height: 35px;
  text-indent: 5px;
}

.save-btn{
  margin-right: 1rem;
  color:#1083FF;
  background: white;
  border: 1px solid #007BFF;
  padding: 6px 8px;
  height: 40px;
  width: 70px;
}

.cancel-btn{
  margin-right: .5rem;
  color:#1083FF;
  background: white;
  border: 1px solid #007BFF;
  padding: 6px 8px;
  height: 40px;
  width: 70px;
}

.save-btn:hover{
  background: #007BFF;
  color: white;
  transition: all .2s linear;
}

.cancel-btn:hover{
  background: #FF5F5F;
  color: white;
  transition: all .2s linear;
  border: 1px solid red;
}

.save-cancel-container{
  display: flex;
  align-content: center;
}

.rename-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 100%;
}

.modal {
  background-color: white;
  padding-top: 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 25px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}

.modal-content {
  background-color: rgba(255, 255, 255, 0.4); 
}

.btn-container {
  display: flex;
  justify-content: space-around;
}

.modal h3 {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}


.button-89 {
  --b: 3px;   
  --s: .45em; 
  --color: #373B44;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 14px;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}

