.difficulty-btn{
  margin-left: .5rem;
  margin-right: .5rem;
}

.front, .back{
  font-size: 2rem;
  text-align: center;
}

.line{
  border-bottom: 1px solid lightgray;
  margin-top: 2rem;
  margin-bottom: -1rem;
}