.front-back-container{
  max-width: 55vw;
  margin: auto;
  margin-top: 1rem;
}

.deck-add-container{
  margin-bottom: 1rem;
}



.deck-input{
  margin-left: .8rem;
  height: 50px;
  width: 410px;
  border-radius: 6px;
  border: 1px solid lightgray;
  font-size: 1.3rem;
  font-weight: 100;
  text-indent: 6px;
  transition: all .15s linear;
}

.deck-input:focus{
  box-shadow: 0 0 2px 3px rgba(0, 123, 255, 0.5);
  border: 1px solid #007bff;
  outline: none; 
}

.front-container, .back-container{
  
}

.textarea2{ 
  width:400px;
  height:auto;
  min-height:20px;
  border:1px solid lightgray;
  display: flex;
  align-items: center; 
  justify-content: flex-start; 
  padding: .35rem .5rem;
  border-radius: 6px;
  transition: all .15s linear;
  font-size: 1.5rem;
}

.textarea2:focus{
  box-shadow: 0 0 2px 3px rgba(0, 123, 255, 0.5);
  border: 1px solid #007bff;
  outline: none; 
}

.add-btn{
  margin-top: 1rem;
}

.err-msg{
  color: red;
  margin-bottom: 0rem;
}

.success-msg{
  color: green;
  margin-bottom: 0rem;
}